		/*Each box is about 128x240px*/
.software {
	/*width:128; height: 240;*/
	/*background: url("software.png") 512 -240px;*/
	color: red;
}
/*
@media screen and (min-width: 1201) {
	#software {
		width:128; height: 240;
		background:url(/software.png) 0 0px;
		color: blue;
	}
}
@media screen and (min-width: 1101) and (max-width: 1200) {
	.software {
		width:128; height: 240;
		background: url("software.png") 128 0px;
	}
}
@media screen and (min-width: 1001) and (max-width: 1100) {
	.software {
		width:128; height: 240;
		background: url(/software.png) 256 0px;
	}
}
@media screen and (min-width: 901) and (max-width: 1000) {
	.software {
		width:128; height: 240;
		background: url(/software.png) 384 0px;
	}
}
@media screen and (min-width: 801) and (max-width: 900) {
	.software {
		width:128; height: 240;
		background: url(/software.png) 512 0px;
	}
}
@media screen and (min-width: 701) and (max-width: 800){
	.software {
		width:128; height: 240;
		background: url(software.png) 0 240px;
	}
}
@media screen and (min-width: 601) and (max-width: 700) {
	.software {
		width:128; height: 240;
		background: url(software.png) 128 240px;
	}
}
@media screen and (min-width: 501) and (max-width: 600) {
	.software {
		width:128; height: 240;
		background: url(software.png) 256 -240px;
	}
}
@media screen and (min-width: 401) and (max-width: 500) {
	.software {
		width:128; height: 240;
		background: url(software.png) 384 -240px;
	}
}
*/
