body {
  background: firebrick; 
}
#title {
  font-family: Papyrus, sans-serif;
  font color: coral;
  background: maroon;
}

#lyrics {
  font-family: fantasy;
  color:  crimson;
  background: indianred;
}

